@import '../abstracts/mixins';

.car-element {
    display: flex;
    @include flex(column, center, flex-start)
}

.car {
    width: 100px;
    height: 80px;
    // transition: all 0.1s;
}

.road {
    width: 90%;
    border-bottom: 2px dashed black;
}