.winners-block {
    position: relative;
    // min-width: 100vw;
    min-height: 100vh;

    background-color: white;
}

.winners-block-active {
    z-index: 10;
}

table {
    border-collapse: collapse;

    th, td {
        border: 1px solid black;
        padding: 5px;
    }


}