* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import 'stylesheets/layout/carElement';
@import 'stylesheets/layout/garage';
@import 'stylesheets/layout/winners';
@import 'stylesheets/layout/main';

@import 'stylesheets/components/buttons';



